<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5 style="color: #005BA8; font-weight: bold;">Detalles de Mensaje</h5>
            <p-toast></p-toast>
            <p-toolbar>
                <div class="p-toolbar-group-left flex flex-wrap">
                    <button pTooltip="Volver" pButton type="button" icon="pi pi-angle-left"
                        class="p-button-rounded p-button-text p-button-plain mr-2" (click)="onGoBack()"></button>
                </div>
            </p-toolbar>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <p-table [value]="messages" class="p-datatable-gridlines" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Atributo</th>
                        <th>Valor</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-message>
                    <tr>
                        <td>Código:</td>
                        <td>{{ message.unique_key }}</td>
                    </tr>
                    <tr>
                        <td>Fecha y hora</td>
                        <td>{{ message.created_at }}</td>
                    </tr>
                    <tr>
                        <td>Nombre:</td>
                        <td>{{ message.name }}</td>
                    </tr>
                    <tr>
                        <td>Dev EUI:</td>
                        <td>{{ message.dev_eui }}</td>
                    </tr>
                    <tr>
                        <td>Número de serie:</td>
                        <td>{{ message.serial_number }}</td>
                    </tr>
                    <tr>
                        <td>Datos en bruto:</td>
                        <td>{{ message.raw_reading }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>