<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5 style="color: #005BA8; font-weight: bold;">Solicitar un Prestamo</h5>
            <p-toast></p-toast>
            <p-toolbar>
                <div class="p-toolbar-group-left flex flex-wrap">
                    <button pTooltip="Volver" pButton type="button" icon="pi pi-angle-left"
                        class="p-button-rounded p-button-text p-button-plain mr-2" (click)="onGoBack()"></button>
                </div>
                <div class="p-toolbar-group-right">
                    <button pButton type="button" label="Solicitar crédito" icon="pi pi-save"
                        class="mr-2 p-button-success" (click)="createLoanDialog = true"></button>
                    <button pButton type="button" label="Limpiar" icon="pi pi-refresh" class="p-button-warning mr-2"
                        (click)="onClear()"></button>
                </div>
            </p-toolbar>
        </div>
    </div>
    <div class="col-12">
        <div class="p-fluid p-formgrid grid">
            <div class="col-12 md:col-6">
                <div class="card p-fluid">
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label htmlFor="name1">¿Cuánto dinero necesitas que te prestemos?</label>
                        <p-inputNumber [(ngModel)]="amount" inputId="currency-us" mode="currency" currency="USD"
                            locale="en-US" (onChange)="calculateLoan()" />
                        <small>Min. $300,00</small>
                        <small *ngIf="amount > 60000" style="color: red;">Tu monto debe ser menor a $60.000,00</small>
                    </div>
                    <div class="field">
                        <label htmlFor="email1">¿En cuanto tiempo quieres pagarlo?</label>
                        <p-dropdown [options]="terms" optionLabel="name" [(ngModel)]="termSelect" id="termSelect"
                            placeholder="Seleccione un Plazo" (onChange)="calculateLoan()"></p-dropdown>
                    </div>
                    <div class="field">
                        <label htmlFor="age1">¿Como quieres pagar tus intereses?</label>
                        <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"
                            (onChange)="calculateLoan()" [(ngModel)]="amortizationMethod" />
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6">
                <div class="card p-fluid">
                    <p-card header="Simulación de Crédito">
                        <h2><strong>${{ monthlyPayment.toFixed(2) }}</strong> / mes</h2>
                        <p>Total interés: ${{ totalInterest.toFixed(2) }}</p>
                        <p>Total seguro: ${{ totalInsurance.toFixed(2) }}</p>
                        <p>Total a pagar: <strong>${{ totalToPay.toFixed(2) }}</strong></p>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <p-table #dt [value]="amortizationTable" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['unique_key', 'serial', 'name', 'type', 'region', 'sub_red']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [rowHover]="true"
                dataKey="unique_key">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Tabla de amortizacion</h5>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th>Mes</th>
                        <th>Capital</th>
                        <th>Interés</th>
                        <th>Seguro</th>
                        <th>Total</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td>{{ row.month }}</td>
                        <td>{{ row.capital | number: '1.2-2' }}</td>
                        <td>{{ row.interest | number: '1.2-2' }}</td>
                        <td>{{ row.insurance | number: '1.2-2' }}</td>
                        <td>{{ row.total | number: '1.2-2' }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8" style="text-align: center; font-weight: bold; font-size: 1.2em; padding: 20px;">
                            No existen datos</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Cargando los datos. Por favor espere.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <p-dialog [(visible)]="createLoanDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>¿Está seguro de que deseas solicitar este prestamo?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="createLoanDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="onSave()"></button>
        </ng-template>
    </p-dialog>
</div>