<div class="grid">
    <p-tabView orientation="left" class="col-12">
        <div class="col-12">
            <p-toast></p-toast>
            <p-toolbar>
                <div class="p-toolbar-group-left flex flex-wrap">
                    <button pTooltip="Volver" pButton type="button" icon="pi pi-angle-left"
                        class="p-button-rounded p-button-text p-button-plain mr-2" (click)="onGoBack()"></button>
                </div>
                <ng-template pTemplate="right">
                    <button pButton pRipple type="button" label="Editar" icon="pi pi-save" class="mr-2 p-button-warning"
                        (click)="openEdit(meter)"></button>
                </ng-template>
            </p-toolbar>
        </div>
        <p-tabPanel header="Detalles del Medidor" class="line-height-3 m-0">
            <ng-template pTemplate="content">
                <div class="col-12">
                    <div class="card">
                        <h5 style="color: #005BA8; font-weight: bold;">Detalles del Medidor</h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label htmlFor="firstname2" class="input-labels">Estado del Medior</label>
                                <input pInputText id="state" type="text"
                                    [value]="selectedState?.code ? 'Activo' : 'Inactivo'" placeholder="Estado"
                                    readonly />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="name" class="input-labels">Nombre</label>
                                <input pInputText id="name" type="text" [(ngModel)]="meter.name"
                                    placeholder="Nombre del Medidor" readonly />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="name" class="input-labels">Diámetro</label>
                                <input pInputText id="diameter" type="text" [(ngModel)]="meter.diameter"
                                    placeholder="Diámetro del Medidor" readonly />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="firstname2" class="input-labels">Modelo del Medidor</label>
                                <input pInputText id="type_meter" type="text" [(ngModel)]="meter.model"
                                    placeholder="Ingrese un Modelo de Medidor" readonly />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="company" class="input-labels">Empresa</label>
                                <input pInputText id="company" type="text" [value]="selectedCompany?.name"
                                    placeholder="Nombre de la Empresa" readonly />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="company" class="input-labels">Dev EUI</label>
                                <input pInputText id="company" type="text" [(ngModel)]="meter.dev_eui"
                                    placeholder="Nombre de la Empresa" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <h5 style="color: #005BA8; font-weight: bold;">Ubicación del Medidor</h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field md:col-6">
                                        <label for="lngInput" class="input-labels">Latitud</label>
                                        <input pInputText id="latInput" type="text" [(ngModel)]="lat" readonly />
                                    </div>
                                    <div class="field md:col-6">
                                        <label for="lngInput" class="input-labels">Longitud</label>
                                        <input pInputText id="lngInput" type="text" [(ngModel)]="lng" readonly />
                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <google-map width="100%" height="100%" [center]="center" [zoom]="zoom"
                                            [options]="mapOptions">
                                            <map-marker [position]="{ lat: lat, lng: lng }" [title]="meter.name">
                                            </map-marker>
                                        </google-map>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-6"
                                style="display: flex;flex-direction: column; justify-content: center; align-items: center;">
                                <div class="p-fluid">
                                    <div class="field">
                                        <p-button label="Solicitar número de Serie" icon="pi pi-users" badge="2"
                                            badgeClass="p-badge-contrast" outlined="true" />
                                    </div>
                                    <div class="field">
                                        <p-button label="Solicitar lectura de consumo" icon="pi pi-users" badge="2"
                                            badgeClass="p-badge-contrast" outlined="true" />
                                    </div>
                                    <div class="field">
                                        <label htmlFor="company" class="input-labels">Válvula de Corte</label>
                                        <input type="text" pInputText [(ngModel)]="stateValve" class="w-full mb-3"
                                            readonly />
                                        <p-slider [(ngModel)]="stateValve" class="w-full" [step]="25" />
                                        <!--(onSlideEnd)="adjustToClosestValue()"-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <h5 style="color: #005BA8; font-weight: bold;">Tipo de Comunicación del Medidor</h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label htmlFor="lastname2" class="input-labels">Comunicación</label>
                                <div class="grid formgrid">
                                    <div class="col-12 md:col-4">
                                        <div class="field-checkbox">
                                            <p-checkbox name="group1" value="LoRaWAN" [(ngModel)]="comunicationCheck"
                                                id="lora" [disabled]="true"></p-checkbox>
                                            <label for="lora">LoRaWAN</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-checkbox">
                                            <p-checkbox name="group1" value="GPRS" [(ngModel)]="comunicationCheck"
                                                id="gprs" [disabled]="true"></p-checkbox>
                                            <label for="gprs">GPRS</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-checkbox">
                                            <p-checkbox name="group1" value="NB-IoT" [(ngModel)]="comunicationCheck"
                                                id="nb" [disabled]="true"></p-checkbox>
                                            <label for="nb">NB-IoT</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-checkbox">
                                            <p-checkbox name="group1" value="Mbus" [(ngModel)]="comunicationCheck"
                                                id="mbus" [disabled]="true"></p-checkbox>
                                            <label for="mbus">Mbus</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('LoRaWAN')">
                                <label htmlFor="firstname2" class="input-labels">Clase de apoyo</label>
                                <div class="grid formgrid">
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton name="class" value="A" [(ngModel)]="valClassSupport"
                                                id="classA" [disabled]="true"></p-radioButton>
                                            <label for="classA">Clase A</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton name="class" value="B" [(ngModel)]="valClassSupport"
                                                id="classB" [disabled]="true"></p-radioButton>
                                            <label for="classB">Clase B</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton name="class" value="C" [(ngModel)]="valClassSupport"
                                                id="classC" [disabled]="true"></p-radioButton>
                                            <label for="classC">Clase C</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('LoRaWAN')">
                                <label htmlFor="region" class="input-labels">Region</label>
                                <input pInputText id="region" type="text" [(ngModel)]="selectedRegion.name"
                                    placeholder="Region" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('LoRaWAN')">
                                <label htmlFor="typeProduct" class="input-labels">Tipo de Producto</label>
                                <input pInputText id="type_product" type="text" [(ngModel)]="selectedTypeProduct.name"
                                    placeholder="Tipo de Producto" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('LoRaWAN')">
                                <label htmlFor="subred" class="input-labels">Subred</label>
                                <input pInputText id="sub_red" type="text" [(ngModel)]="selectedSubRed.name"
                                    placeholder="Sub Red" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('LoRaWAN')">
                                <label htmlFor="firstname2" class="input-labels">Tipo de autenticación</label>
                                <div class="grid formgrid">
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton name="typeAutentification" value="OTA"
                                                [(ngModel)]="typeAutentification" id="typeAutentification1"
                                                [disabled]="true"></p-radioButton>
                                            <label for="typeAutentification1">OTA</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton name="typeAutentification" value="ABP"
                                                [(ngModel)]="typeAutentification" id="typeAutentification2"
                                                [disabled]="true"></p-radioButton>
                                            <label for="typeAutentification2">ABP</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="typeAutentification.includes('OTA')">
                                <label htmlFor="lastname2" class="input-labels">App Key</label>
                                <input pInputText id="appKey" type="text" [(ngModel)]="meter.app_key" placeholder="Key"
                                    readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="typeAutentification.includes('ABP')">
                                <label htmlFor="devAddr" class="input-labels">DevAddr</label>
                                <input pInputText id="devAddr" type="text" [(ngModel)]="meter.dev_addr"
                                    placeholder="Dev Addr" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="typeAutentification.includes('ABP')">
                                <label htmlFor="app" class="input-labels">App SKey</label>
                                <input pInputText id="appKey" type="text" [(ngModel)]="meter.app_skey"
                                    placeholder="SKey" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="typeAutentification.includes('ABP')">
                                <label htmlFor="lastname2" class="input-labels">Nwk SKey</label>
                                <input pInputText id="appKey" type="text" [(ngModel)]="meter.nwk_skey"
                                    placeholder="NWK Key" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('GPRS')">
                                <label htmlFor="serial" class="input-labels">Número de serie</label>
                                <input pInputText id="serial" type="text" [(ngModel)]="meter.serial"
                                    placeholder="Numero de serie" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('GPRS')">
                                <label htmlFor="directionGprs" class="input-labels">Dirección de la placa GPRS</label>
                                <input pInputText id="directionGprs" type="text" [(ngModel)]="meter.direction_gprs"
                                    placeholder="Direccion GPRS" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('NB-IoT')">
                                <label htmlFor="imei" class="input-labels">IMEI</label>
                                <input pInputText id="imei" type="text" [(ngModel)]="meter.imei" placeholder="IMEI"
                                    readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('Mbus')">
                                <label htmlFor="gateway" class="input-labels">Gateway</label>
                                <input pInputText id="gateway" type="text" placeholder="Nombre del Gateway"
                                    [value]="selectedGateway?.name" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('Mbus')">
                                <label htmlFor="number_serial" class="input-labels">Número de serie</label>
                                <input pInputText id="number_serial" type="text" [(ngModel)]="meter.number_serial"
                                    placeholder="Numero de serie" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Informe de Consumo" class="line-height-3 m-0">
            <ng-template pTemplate="content">
                <div class="col-12">
                    <div class="card">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <h5 style="color: #005BA8; font-weight: bold;">Curva de Consumo</h5>
                            </div>
                            <div class="field col-12 md:col-6">
                                
                            </div>
                            <div class="field col-12 md:col-2">
                                <button pButton pRipple label="Exportar" icon="pi pi-upload" class="mr-2 p-button-secondary"
                                (click)="exportToCSV()"></button>
                            </div>
                        </div>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label for="startDate">Fecha de Inicio:</label>
                                <p-calendar id="startDate" [(ngModel)]="startDate" dateFormat="yy-mm-dd"
                                    (ngModelChange)="updateChart()" placeholder="Seleccione una fecha de inicio"
                                    [maxDate]="endDate" [showButtonBar]="true">
                                </p-calendar>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="endDate">Fecha de Fin:</label>
                                <p-calendar id="endDate" [(ngModel)]="endDate" dateFormat="yy-mm-dd"
                                    (ngModelChange)="updateChart()" placeholder="Seleccione una fecha de fin"
                                    [minDate]="startDate" [showButtonBar]="true">
                                </p-calendar>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="interval">Mostrar por: </label>
                                <p-dropdown id="interval" [(ngModel)]="interval" [options]="intervalOptions"
                                    optionLabel="label" (onChange)="updateChart()"
                                    placeholder="Seleccione un Intervalo">
                                </p-dropdown>
                            </div>
                            <div class="field col-12 md:col-12">
                                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>