<p-stepper>
    <p-stepperPanel header=": Seleccione el método de pago que desea realizar">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div
                    class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                    <p-listbox [options]="payments" [(ngModel)]="selectedPayment" optionLabel="name"
                        [style]="{'width':'15rem'}" [listStyle]="{'max-height': '220px'}" />
                </div>
            </div>
            <div class="flex pt-4 justify-content-end">
                <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="printPayment(); nextCallback.emit()" />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel *ngIf="selectedPayment?.value != 2" header=": Ingresa los datos de tu tarjeta de crédito o débito">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground justify-content-center align-items-center font-medium" style="display: flex; flex-direction: column;">
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label htmlFor="cardNumber">Número de tarjeta</label>
                        <input pInputText id="cardNumber" [(ngModel)]="cardNumber" type="text" />
                    </div>
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label htmlFor="cardName">Nombre en la tarjeta</label>
                        <input pInputText id="cardName" [(ngModel)]="cardName" type="text" />
                    </div>
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label htmlFor="expiryDate">Fecha de expiración</label>
                        <input pInputText id="expiryDate" [(ngModel)]="expiryDate" type="text" placeholder="MM/YY" />
                    </div>
                    <div class="field" style="display: flex; flex-direction: column;">
                        <label htmlFor="cvv">CVV</label>
                        <input pInputText id="cvv" [(ngModel)]="cvv" type="text" />
                    </div>
                </div>
            </div>
            <div class="flex pt-4 justify-content-between">
                <p-button label="Atras" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header=": Selecciona la cantidad a pagar">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
            let-index="index">
            <div class="flex flex-column h-12rem">
                <div
                    class="border-2 border-dashed surface-border border-round surface-ground justify-content-center align-items-center font-medium" style="display: flex; flex-direction: column;">
                    <div class="border-2 border-dashed surface-border border-round surface-ground justify-content-center align-items-center font-medium" style="display: flex; flex-direction: column;">
                        <div class="field" style="display: flex; flex-direction: column;">
                            <label htmlFor="name1">¿Cuánto deseas pagar?</label>
                            <p-inputNumber [(ngModel)]="amount" inputId="currency-us" mode="currency" currency="USD" locale="en-US"/>
                            <small *ngIf="amount >= selectedLoan.totalToPay" style="color: red;">El monto no puede ser mayor al total a pagar</small>
                            <small *ngIf="amount > bankAccountBalance && (selectedPayment?.value != 2)" style="color: red;">El monto no puede ser mayor a la cantidad que tiene en la cuenta bancaria</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex pt-4 justify-content-between">
                <p-button label="Atras" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                <p-button label="Sigueinte" icon="pi pi-arrow-right" iconPos="right" (onClick)="calculateLoan(); nextCallback.emit()" />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header=": Confirma el pago">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div
                    class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                    <div class="col-12 md:col-6">
                        <div class="card p-fluid">
                            <p-card header="Nuevas tasas de pago del Crédito">
                                <h2><strong>${{ monthlyPayment.toFixed(2) }}</strong> / mes</h2>
                                <p>Total interés: ${{ totalInterest.toFixed(2) }}</p>
                                <p>Total seguro: ${{ totalInsurance.toFixed(2) }}</p>
                                <p>Total a pagar: <strong>${{ totalToPay.toFixed(2) }}</strong></p>
                            </p-card>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <p-table #dt [value]="amortizationTable" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                        [globalFilterFields]="['unique_key', 'serial', 'name', 'type', 'region', 'sub_red']" [paginator]="true"
                        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [rowHover]="true"
                        dataKey="unique_key">
                        <ng-template pTemplate="caption">
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                <h5 class="m-0">Tabla de amortizacion</h5>
                            </div>
                        </ng-template>
        
                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col">Mes</th>
                                <th scope="col">Capital</th>
                                <th scope="col">Interés</th>
                                <th scope="col">Seguro</th>
                                <th scope="col">Total</th>
                            </tr>
                        </ng-template>                        
        
                        <ng-template pTemplate="body" let-row>
                            <tr>
                                <td>{{ row.month }}</td>
                                <td>{{ row.capital | number: '1.2-2' }}</td>
                                <td>{{ row.interest | number: '1.2-2' }}</td>
                                <td>{{ row.insurance | number: '1.2-2' }}</td>
                                <td>{{ row.total | number: '1.2-2' }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8" style="text-align: center; font-weight: bold; font-size: 1.2em; padding: 20px;">
                                    No existen datos</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Cargando los datos. Por favor espere.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="flex pt-4 justify-content-start">
                <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                <p-button label="Pagar" icon="pi pi-arrow-right" iconPos="right" (onClick)="savePayment()" />
            </div>
        </ng-template>
    </p-stepperPanel>

    <div class="col-12">
        <div class="card">
            <p-table #dt [value]="loanPayments" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['id', 'amount', 'transactionDate', 'description']"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Historial de Transacciones</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" pSortableColumn="id">Código <p-sortIcon field="id"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="amount">Cantidad <p-sortIcon field="amount"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="transactionDate">Fecha <p-sortIcon field="transactionDate"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="description">Descripción<p-sortIcon field="description"></p-sortIcon></th>
                    </tr>
                </ng-template>                
                <ng-template pTemplate="body" let-transaction>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Código</span>
                            {{transaction.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cantidad</span>
                            {{transaction.amount | currency}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Fecha</span>
                            {{transaction.transactionDate | date}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Descripción</span>
                            {{transaction.description}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8" style="text-align: center; font-weight: bold; font-size: 1.2em; padding: 20px;">
                            No existe historial de transacciones.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Cargando los datos de las Transacciones. Por favor espere.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-stepper>