<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5 style="color: #005BA8; font-weight: bold;">Lista de Mensajes</h5>
            <div class="col-12">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label for="startDate">Desde:</label>
                        <p-calendar id="startDate" [(ngModel)]="startDate" dateFormat="yy-mm-dd"
                            (ngModelChange)="updateTable()" placeholder="Seleccione una fecha" [maxDate]="endDate"
                            [showButtonBar]="true">
                        </p-calendar>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="endDate">Hasta:</label>
                        <p-calendar id="endDate" [(ngModel)]="endDate" dateFormat="yy-mm-dd"
                            (ngModelChange)="updateTable()" placeholder="Seleccione una fecha" [minDate]="startDate"
                            [showButtonBar]="true">
                        </p-calendar>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label for="endDate"></label>
                        <button pButton label="Buscar" class="mr-2" (click)="filterByDateRange()"></button>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label for="endDate"></label>
                        <button pButton label="Limpiar" class="p-button-secondary mr-2"
                            (click)="clearFilters()"></button>
                    </div>
                </div>
            </div>
            <p-toast></p-toast>
            <p-table #dt [value]="messages" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['number', 'name', 'name', 'type_message', 'decoded_value', 'gateway', 'date']"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                [(selection)]="selectedMessages" selectionMode="multiple" [rowHover]="true" dataKey="number">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="number">Número <p-sortIcon field="number"></p-sortIcon></th>
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="type_message">Tipo de Mensaje <p-sortIcon
                                field="type_message"></p-sortIcon></th>
                        <th pSortableColumn="decoded_value">Valor decodificado <p-sortIcon
                                field="decoded_value"></p-sortIcon></th>
                        <th pSortableColumn="gateway">GW <p-sortIcon field="gateway"></p-sortIcon></th>
                        <th pSortableColumn="date">Fecha y Hora <p-sortIcon field="date"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-message>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Número</span>
                            {{message.unique_key}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{message.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Tipo de mensaje</span>
                            {{message.type_message}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Valor decodificado</span>
                            {{message.decoded_message}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">GW</span>
                            {{message.gws}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Fecha y hora</span>
                            {{formatDate(message.created_at)}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple type="button" icon="pi pi-file-o"
                                    class="p-button-rounded p-button-text" (click)="openDetail(message)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8" style="text-align: center; font-weight: bold; font-size: 1.2em; padding: 20px;">
                            Gateways no encontrados.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Cargando los datos de los Gateways. Por favor espere.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!--
        <p-dialog [(visible)]="deleteMessagesDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro de que desea eliminar los gateways seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteGatewaysDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
        -->
    </div>
</div>