<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5 style="color: #005BA8; font-weight: bold;">Prestamos</h5>
            <p-toast></p-toast>
            <p-toolbar>
                <div class="p-toolbar-group-left flex flex-wrap">
                    <button pButton type="button" label="Solicitar Prestamo" icon="pi pi-plus" class="mr-2"
                        (click)="openNew()"></button>
                </div>
            </p-toolbar>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <p-table #dt [value]="gateways" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['unique_key', 'serial', 'name', 'type', 'region', 'sub_red']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                [(selection)]="selectedGateways" selectionMode="multiple" [rowHover]="true" dataKey="unique_key">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Historial de prestamos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="unique_key">Código <p-sortIcon field="unique_key"></p-sortIcon></th>
                        <th pSortableColumn="serial">Número de Serie <p-sortIcon field="serial"></p-sortIcon></th>
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="type">Tipo <p-sortIcon field="type"></p-sortIcon></th>
                        <th pSortableColumn="region">Región <p-sortIcon field="region"></p-sortIcon></th>
                        <th pSortableColumn="sub_red">Sub Red <p-sortIcon field="sub_red"></p-sortIcon></th>
                        <th pSortableColumn="state">Estado <p-sortIcon field="state"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-gateway>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="gateway"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Código</span>
                            {{gateway.unique_key}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Serial</span>
                            {{gateway.serial}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{gateway.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Tipo</span>
                            {{gateway.type}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Region</span>
                            {{gateway.region}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Sub Red</span>
                            {{gateway.sub_red}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Estado</span>
                            {{gateway.state ? 'Activo' : 'Inactivo'}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                    class="p-button-rounded p-button-text" (click)="openEdit(gateway)"
                                    ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8" style="text-align: center; font-weight: bold; font-size: 1.2em; padding: 20px;">
                            No existen prestamos</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Cargando los datos de los Gateways. Por favor espere.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>