<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5 style="color: #005BA8; font-weight: bold;">Prestamos</h5>
            <p-toast></p-toast>
            <p-toolbar>
                <div class="p-toolbar-group-left flex flex-wrap">
                    <button pButton type="button" label="Solicitar Prestamo" icon="pi pi-plus" class="mr-2"
                        (click)="openNew()"></button>
                </div>
            </p-toolbar>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <p-table #dt [value]="loans" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['id', 'amount', 'interestRate', 'term', 'startDate', 'endDate', 'approved']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                [rowHover]="true" dataKey="unique_key">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Historial de prestamos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Código <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="amount">Monto <p-sortIcon field="amount"></p-sortIcon></th>
                        <th pSortableColumn="interestRate">Intereses <p-sortIcon field="interestRate"></p-sortIcon></th>
                        <th pSortableColumn="term">Plazo <p-sortIcon field="term"></p-sortIcon></th>
                        <th pSortableColumn="startDate">Fecha de inicio <p-sortIcon field="startDate"></p-sortIcon></th>
                        <th pSortableColumn="endDate">Fecha de Fin <p-sortIcon field="endDate"></p-sortIcon></th>
                        <th pSortableColumn="approved">Estado <p-sortIcon field="approved"></p-sortIcon></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-loan>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Código</span>
                            {{loan.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Monto</span>
                            {{loan.amount | currency}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Intereses</span>
                            {{loan.interestRate}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Plazo</span>
                            {{loan.term}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Fecha de Inicio</span>
                            {{loan.startDate | date}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Fecha de Fin</span>
                            {{loan.endDate | date}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Estado</span>
                            {{loan.approved ? 'Activo' : 'Inactivo'}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8" style="text-align: center; font-weight: bold; font-size: 1.2em; padding: 20px;">
                            No existen prestamos</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Cargando los datos de los Prestamos. Por favor espere.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>